{% extends "layout.html" %}

<head>
    {% block title %}Sign Language Translator- About{% endblock %}

</head>
{% block content %}
<style>
    body{
    background: whitesmoke;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.about_header {
  padding: 50px;
  text-align: center;
  background: #474e5d;
  color: white;
  font-size: 30px;
}
.content{
    text-align: center;
}
.content p{
    color: black;
    font-size: 18px;
    font-weight: bold;

}
.content h1{
    color: #152f5f;
    text-decoration: underline;
}
</style>

    <div class="about_header">
    <h1>Sign Language Translator</h1>
    <p>About</p>
    </div>

    <div class="content">
      <h1>Problem</h1>
          <p>
              In the modern world, communication is necessary to be able to express opinions, pass on information, understand what is said to us. Therefore, people who have hearing and speaking disabilities may struggle to communicate with others. Sign language has allowed people to be able to learn a new language and communicate with others but learning sign language can be difficult and speaking to people will require them to know sign language.
              Sign language is a method of communication using hands and gestures to be able to express words and letters mainly used by people who are deaf and mute. In Britain over one hundred and fifty thousand people use sign language (Help & Resources - British Deaf Association, 2021) and over 70 million people use sign language in the whole world (Kozik, 2019).
              For my project, I have decided to create a sign language translator that would be able to help those who have learned sign language to be able to communicate with people easier and for people who have not learned sign language to be able to understand sign language.
          </p>
      <h1>Aims</h1>
        <p>
            Create an application that will be able to translate 28 signs which include 26 letters of the alphabet and 2 which are used to create a space and delete using machine learning.
        </p>
      <h1>Datasets</h1>
        <p>
            #1 https://public.roboflow.com/object-detection/american-sign-language-letters
        </p>
        <p>
            #2 https://www.kaggle.com/ayuraj/asl-dataset
        </p>
        <h1>Neural Network Structure</h1>
        <img src="{{url_for('static', filename='Neural Network Diagram.png')}}" align="middle" />
        <h1>References</h1>
        <p>
            British Deaf Association. 2021. Help & Resources - British Deaf Association. [online] Available at: https://bda.org.uk/help-resources/ [Accessed 15 October 2021].
        </p>
        <p>
            Kozik, K., 2019. Without Sign Language, Deaf People Are Not Equal. [online] Human Rights Watch. Available at: https://www.hrw.org/news/2019/09/23/without-sign-language-deaf-people-are-not-equal [Accessed 15 October 2021].

        </p>



    </div>

{% endblock %}

