{% extends "layout.html" %}
{% block content %}
<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">

    {% block title %}Sign Language Translator{% endblock %}

</head>

<body class="container">
    <div class="feed_container">
        <img class="feed_container"src="{{ url_for('translator_feed') }}">
    </div>

    <div class="translation_container">
        <h2>Translation</h2>

        <textarea>{{  data  }} </textarea>


    </div>

    <div class="information">
        <div class="wrapper">
            <h3>Information</h3>
            <p>This translator uses American Sign Lanaguage</p>
            <p>to translate signs to letters.
            <p>Use the Sign for 0 to create a space.</p>
            <p>Use the Sign for 5 to delete a letter.</p>
        </div>

    </div>




</body>

{% endblock %}